$nav-color: #dcd9c6;
$hover-color: #1c5c77;
// $hover-color: #556f7a;
$active-color: #d84936;
$black-color: #1b1924;
$white: #f3f2f1;

.menuIconContainer {
  width: 100%;
  position: relative;
  margin: 0% auto;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: 1px solid $nav-color;
}

.menuA {
  margin: 0.6rem;
  padding: 0%;
  height: fit-content;
  width: fit-content;
}
.menuIcon {
  height: 80px;
  position: relative;
  margin: 0%;
  filter: invert(86%) sepia(6%) saturate(490%) hue-rotate(14deg)
    brightness(102%) contrast(89%);
}

#github:hover {
  cursor: pointer;
  filter: invert(26%) sepia(21%) saturate(7427%) hue-rotate(248deg)
    brightness(90%) contrast(88%);
}
#linked:hover {
  filter: invert(44%) sepia(13%) saturate(4010%) hue-rotate(169deg)
    brightness(86%) contrast(87%);
  cursor: pointer;
}
#email:hover {
  filter: invert(10%) sepia(77%) saturate(6194%) hue-rotate(358deg)
    brightness(114%) contrast(129%);
  cursor: pointer;
}
#ig:hover {
  filter: invert(52%) sepia(63%) saturate(6356%) hue-rotate(321deg)
    brightness(88%) contrast(85%);
  cursor: pointer;
}
#spotify:hover {
  filter: invert(64%) sepia(88%) saturate(384%) hue-rotate(76deg)
    brightness(93%) contrast(85%);
  cursor: pointer;
}
#apple:hover {
  filter: invert(44%) sepia(68%) saturate(3441%) hue-rotate(325deg)
    brightness(104%) contrast(90%);
  cursor: pointer;
}
#youtube:hover {
  filter: invert(10%) sepia(77%) saturate(6194%) hue-rotate(358deg)
    brightness(114%) contrast(129%);
  cursor: pointer;
}

@media only screen and (max-width: 890px) {
  .menuIcon {
    width: 60px;
  }
}
@media only screen and (max-width: 730px) {
  .menuIcon {
    width: 50px;
  }
}

@media only screen and (max-width: 650px) {
  .menuA {
    margin: 0.25rem;
  }
  .menuIcon {
    width: 50px;
  }
}
@media only screen and (max-width: 550px) {
  .menuA {
    margin: 0.25rem;
  }
  .menuIcon {
    width: 70px;
  }
}
// iPhone 12 pro and (-webkit-min-device-pixel-ratio: 3)
@media only screen and (max-width: 390px) and (max-height: 844px) {
  .menuA {
    margin: 0.35rem;
  }
  .menuIcon {
    width: 50px;
  }
}
