$nav-color: #dcd9c6;
$hover-color: #1c5c77;
// $hover-color: #556f7a;
$active-color: #d84936;
$black-color: #1b1924;
$white: #f3f2f1;

.heroView {
  position: relative;
  width: fill;
  height: 84.8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .topBox {
    width: 26rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .myNameFirst {
      letter-spacing: 3px;
      margin: 0rem;
      margin-right: 1rem;
      font-size: 5rem;
      color: $hover-color;
    }
    .myNameLast {
      margin: 0rem;
      font-size: 5rem;
      color: $black-color;
    }
  }
  .bottomBox {
    width: 26rem;
    .sumContainer {
      height: fit-content;
      margin: 0%;
      h1 {
        margin: 0%;
        font-weight: 500;
        font-size: 1.6rem;
        font-family: sans-serif;
        // text-align: center;
      }
      h2 {
        margin: 0%;
      }
      h3 {
        margin: 0%;
      }
    }
  }
}

#divText {
  // margin-top: 1rem;
  div {
    padding-left: 1rem;
    border-left: 4px solid $black-color;
    margin-top: 3rem;
    margin-bottom: 2rem;
    width: 95%;
    h2 {
      margin: 0rem;
    }
  }
  h3 {
    font-weight: 100;
    color: $black-color;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin: 0%;
    text-align: left;
  }

  span {
    padding: 0.6rem 0rem;
    margin-top: 0rem;
    display: flex;
    button {
      transition: all ease 0.3s;
    }
  }
}

.tL {
  position: absolute;
  top: 0%;
  height: 100px;
  width: 100px;
  border-top: 2px solid $black-color;
  border-left: 2px solid $black-color;
}
.tR {
  position: absolute;
  top: 0%;
  right: 0%;
  height: 100px;
  width: 100px;
  border-top: 2px solid $black-color;
  border-right: 2px solid $black-color;
}
.bL {
  position: absolute;
  bottom: 0%;
  height: 100px;
  width: 100px;
  border-bottom: 2px solid $black-color;
  border-left: 2px solid $black-color;
}
.bR {
  position: absolute;
  bottom: 0%;
  right: 0%;
  height: 100px;
  width: 100px;
  border-bottom: 2px solid $black-color;
  border-right: 2px solid $black-color;
}
