$nav-color: #dcd9c6;
$hover-color: #1c5c77;
// $active-color: #c97064;
$active-color: #d84936;
$black-color: #1b1924;
.about {
  margin-bottom: 3rem;
  padding: 1.5rem;
}
.aboutHead {
  display: flex;
}
.quoteBox {
  width: 100%;
  margin: 0%;
  padding: 1rem 0.6rem;
  color: $nav-color;
  background-color: $black-color;
  border: 1px solid $black-color;
  h1 {
    font-size: 1.25rem;
    margin: 0rem;
    h5 {
      margin: 0rem;
      margin-top: 5px;
    }
  }
}
.nameContent {
  margin: 0.6rem 0rem;
  width: 100%;
  .intro {
    width: 59%;
    font-size: 3rem;
    color: $black-color;
    margin: 0%;
    margin-bottom: 0.1em;
    display: flex;
    align-items: center;
    .myNameFirst {
      font-size: 4rem;
      color: $active-color;
      margin: 0%;
      margin-left: 0.5rem;
    }
  }
  a {
    margin-right: 3px;
    color: $hover-color;
  }
}
.imageOne {
  // box-shadow: 5px 10px 0px $active-color, 10px 20px 0px $hover-color,
  //   15px 30px 0px $black-color;
  float: right;
  width: 35%;
  margin: 1rem 0rem;
}
.pA {
  color: $black-color;
  letter-spacing: 0px;
  line-height: 45px;
  font-size: 1.5rem;
  border-left: 4px solid $black-color;
  padding-left: 0.6rem;
}

.contactBox {
  background-color: $black-color;
  color: $nav-color;
  display: flex;
  flex-direction: column;
  padding: 0.6rem 1rem;
  h1 {
    margin: 0rem;
    font-size: 1.25rem;
  }
  .contact {
    outline: none;
    background-color: transparent;
    border: 3px solid $nav-color;
    margin: 0%;
    margin-top: 0.6rem;
    width: 20%;
    color: $nav-color;
    font-size: 1.6rem;
    height: 2.5rem;
  }
}
