$nav-color: #dcd9c6;
$hover-color: #1c5c77;
// $hover-color: #556f7a;
$active-color: #d84936;
$black-color: #1b1924;
$black-colorLighter: #535355;
//Folio Colors
$bright-orange: #ffd166;
$banana: #f7e3af;
$bananaDim: #f7e3af2f;
$oceanGreen: #61c9a8;
$oceanGreenDim: #61c9a88e;
.skillsView {
  height: 100%;
  width: 100%;
  h1 {
    margin: 0%;
  }
}

// .quoteBox {
//   margin: 0%;
//   padding: 1rem 0.6rem;
//   color: $nav-color;
//   background-color: $black-color;
//   border: 1px solid $black-color;
//   text-align: center;
// }
.container {
  border: 1px solid $black-color;
  margin: 0rem;
  margin-bottom: 1rem;
  box-shadow: 2px 4px 5px $black-colorLighter;
}
.topBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.skillBox {
  width: 8%;
  margin: 1.5rem;
  object {
    width: 100%;
  }
  h3 {
    font-family: monospace;
    font-size: 1.2rem;
    text-align: center;
    color: $black-color;
    margin: 0px;
  }
}

.arrow {
  transform: rotate(45deg);
  width: 20px;
  height: 20px;
  margin: 0%auto;
  margin-top: -35px;
  margin-bottom: 1rem;
  border-bottom: 3px solid $bananaDim;
  border-right: 3px solid $bananaDim;
}
.otherSkillsContainer {
  .hardSoftBox {
    display: flex;
    justify-content: center;
    align-items: center;
    .hard {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 50%;
      margin-right: 0.25rem;
      padding: 0.25rem 0.25rem 1rem 0.25rem;
      border: 1px solid $black-color;
      box-shadow: 2px 4px 5px $black-colorLighter;
      background-color: $active-color;

      h1 {
        font-size: 1.5rem;
        letter-spacing: 10px;
        color: $nav-color;
        margin: 0%;
        text-align: center;
      }
      h3 {
        margin: 0%;
        font-weight: 500;
        color: $nav-color;
        margin: 0rem 0.5rem;
      }
    }
    .soft {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 50%;
      margin-left: 0.25rem;
      padding: 0.25rem 0.25rem 1rem 0.25rem;
      border: 1px solid $black-color;
      box-shadow: 2px 4px 5px $black-colorLighter;
      background-color: $hover-color;
      h1 {
        color: $nav-color;
        font-size: 1.5rem;
        letter-spacing: 10px;
        margin: 0%;
        text-align: center;
      }
      h3 {
        margin: 0%;
        font-weight: 500;
        color: $nav-color;
        margin: 0rem 0.5rem;
      }
    }
  }
}
