$nav-color: #dcd9c6;
$hover-color: #1c5c77;
// $hover-color: #556f7a;
$active-color: #d84936;
$black-color: #1b1924;
$black-colorLighter: #535355;
//Folio Colors
$bright-orange: #ffd166;
$banana: #f7e3af;
$bananaDim: #f7e3af2f;
$oceanGreen: #61c9a8;
$oceanGreenDim: #61c9a88e;
.skillsView {
  width: 100%;
  margin-bottom: 4rem;
  h1 {
    margin: 0%;
  }
}

.topBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 6rem 0rem;
}
.skillBox {
  background-color: $black-color;
  width: 9%;
  margin: 1.5rem;
  padding: 0.6rem;
  border-radius: 20px;
  object {
    margin: 0rem;
    width: 100%;
  }
  .title {
    font-size: 1.2rem;
    text-align: center;
    color: $nav-color;
    margin: 0px;
  }
}

.arrow {
  transform: rotate(45deg);
  width: 20px;
  height: 20px;
  margin: 0%auto;
  margin-top: -35px;
  margin-bottom: 1rem;
  border-bottom: 3px solid $bananaDim;
  border-right: 3px solid $bananaDim;
}

.skillsFooter {
  color: $black-color;
  display: flex;
  flex-direction: column;
  padding: 0rem 1.5rem;
  h1 {
    font-size: 1.25rem;
  }
  a {
    width: 20%;
  }
  button {
    margin-top: 0.6rem;
    font-size: 1.25rem;
    background-color: $active-color;
    border: 3px solid $black-color;
    width: 100%;
    color: $nav-color;
    font-weight: 100;
    font-size: 1.6rem;
    height: 2.5rem;
  }
  button:hover {
    cursor: pointer;
  }
}
