@import url(https://fonts.googleapis.com/css?family=Chivo:300,300italic,regular,italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Changa:200,300,regular,500,600,700,800);

$nav-color: #dcd9c6;
$hover-color: #556f7a;
// $active-color: #c97064;
$active-color: #d84936;
$black-color: #1b1924;

.header {
  position: relative;
  z-index: 40000;
  margin: 0%;
}
.nav {
  width: 75%;
  margin: 0% auto;
  display: flex;
  align-items: center;
  ul {
    margin: 0%;
    width: 100%;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  li {
    overflow: hidden;
    text-transform: lowercase;
    font-family: sans-serif;
    margin: 0%;
  }
  .link {
    letter-spacing: 2px;
    font-weight: 500;
    overflow-x: hidden;
    text-decoration: none;
    color: #000;
    transition: color ease 0.3s;
    .underLine {
      margin: 0% auto;
      transform: translateY(3px);
      width: 0%;
      height: 0%;
      border: 0.5px solid $active-color;
      transition: all ease-in 0.25s;
    }
  }
  .link:hover {
    font-weight: 500;
    color: $active-color;
    .underLine {
      width: 100%;
      transform: translateY(0);
    }
  }
}
.burger-menu {
  display: none;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem 0;
}
.burger-menu-active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem 0;
  .burger-bar-one {
    transform: translateX(-14px);
    border: 1px solid $active-color;
  }
  .burger-bar-two {
    border: 1px solid $active-color;
  }
  .burger-bar-three {
    border: 1px solid $active-color;
    transform: translateX(15px);
  }
}
.burger-menu:hover {
  cursor: pointer;
  .burger-bar-one {
    transform: translateX(-14px);
    border: 1px solid $active-color;
  }
  .burger-bar-two {
    border: 1px solid $active-color;
  }
  .burger-bar-three {
    border: 1px solid $active-color;
    transform: translateX(15px);
  }
}

.burger-bar-one {
  transform: translateX(0px);
  transition: all 0.3s ease;
  margin-left: auto;
  margin-bottom: 0.4rem;
  width: 1.4rem;
  border: 1px solid $active-color;
}
.burger-bar-two {
  transition: all 0.3s ease;
  margin-bottom: 0.4rem;
  width: 3rem;
  border: 1px solid $active-color;
}
.burger-bar-three {
  transform: translateX(0px);
  transition: all 0.3s ease;
  width: 1.4rem;
  border: 1px solid $active-color;
  transition: all 0.25s;
}
//List items
.ul {
  width: 15rem;
  display: flex;
  justify-content: space-evenly;
  margin: 0%;
  margin-left: 1rem;
  margin-right: 1rem;
  list-style-type: none;
}
.list-item {
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 4rem;
  text-align: center;
  text-transform: lowercase;
  margin: 0%;
  color: $black-color;
  font-size: 0.9rem;
  text-decoration: none;
  transition: all ease 0.25s;
}
.list-item:hover {
  font-size: 1rem;
  color: $hover-color;
  cursor: pointer;
}
.active-list-item {
  color: $active-color;
}

.logo {
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: 100;
  margin: 0%;
  border: 5px solid $active-color;
  color: $active-color;
  padding: 10px;
}
