$nav-color: #dcd9c6;
$hover-color: #1c5c77;
// $hover-color: #556f7a;
$active-color: #d84936;
$black-color: #1b1924;
$white: #f3f2f1;

#container {
  padding: 0rem 1rem 1rem 1rem;
  position: fixed;
  top: 0px;
  right: 0%;
  transform: translateX(55vw);
  height: 100vh;
  width: 50vw;
  background-color: $black-color;
  z-index: 9000;
  transition: all ease 0.5s;
  display: flex;
  flex-direction: column;
  ul {
    flex-grow: 1;
    padding: 0.6rem;
    margin: 0% auto;
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }
}
.exit {
  float: left;
  color: #dcd9c6;
  margin: 0%;
}
.exit:hover {
  cursor: pointer;
}
#container.show {
  transform: translateX(0);
}
.link {
  margin: 0%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: fit-content;
  font-size: 4rem;
  font-weight: 900;
  font-family: sans-serif;
  color: $nav-color;
  transition: color ease 0.4s;
}
.link:hover {
  cursor: pointer;
  color: $active-color;
  .line {
    transform: translateX(0);
  }
}
.skillsLink {
  display: none;
  margin: 0%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: fit-content;
  font-size: 4rem;
  font-weight: 900;
  font-family: sans-serif;
  color: $nav-color;
  transition: color ease 0.4s;
}
.skillsLink:hover {
  cursor: pointer;
  color: #d84936;
  .line {
    transform: translateX(0);
  }
}
.line {
  transition: transform ease 0.4s;
  transform: translateX(-100%);
  width: 100%;
  border-top: 2px solid $active-color;
}

@media (max-width: 320px) {
  #container {
    transform: translateX(100vw);
    width: 100vw;
  }
}
