$nav-color: #dcd9c6;
$hover-color: #1c5c77;
// $hover-color: #556f7a;
$active-color: #d84936;
$black-color: #1b1924;
$white: #f3f2f1;

#container {
  padding: 0rem 1rem 1rem 1rem;
  position: fixed;
  translate: 100vw;
  top: 0px;
  right: 0%;
  height: 100vh;
  width: 50vw;
  background-color: $black-color;
  z-index: 9000;
  transition: all ease 0.5s;
  display: flex;
  flex-direction: column;
  div {
    margin-bottom: 1rem;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
.exit {
  float: left;
  color: #dcd9c6;
  margin: 0%;
}
.exit:hover {
  cursor: pointer;
}

#container.show {
  transform: translateX(0);
}
#container.hide {
  transform: translateX(100vw);
}
.link {
  margin: 0%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: fit-content;
  font-size: 4rem;
  font-weight: 900;
  font-family: sans-serif;
  color: $nav-color;
  transition: color ease 0.4s;
}
.link:hover {
  cursor: pointer;
  color: $active-color;
  .line {
    transform: translateX(0);
  }
}
.skillsLink {
  display: none;
  margin: 0%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: fit-content;
  font-size: 4rem;
  font-weight: 900;
  font-family: sans-serif;
  color: $nav-color;
  transition: color ease 0.4s;
}
.skillsLink:hover {
  cursor: pointer;
  color: #d84936;
  .line {
    transform: translateX(0);
  }
}
.line {
  transition: transform ease 0.4s;
  transform: translateX(-100%);
  width: 100%;
  border-top: 2px solid $active-color;
}
@media only screen and (max-width: 730px) {
  .link {
    font-size: 3.5rem;
  }
}
@media only screen and (max-width: 600px) {
  .link {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 550px) {
  #container {
    width: 75vw;
  }
  .link {
    font-size: 2.75rem;
  }
}

// iPhone 12 pro and (-webkit-min-device-pixel-ratio: 3)
@media only screen and (max-width: 390px) and (max-height: 844px) {
  .link {
    font-size: 2.5rem;
  }
}
