@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,800,800italic,900,900italic);
$nav-color: #dcd9c6;
$hover-color: #556f7a;
// $hover-color: #556f7a;
$active-color: #d84936;
$black-color: #1b1924;
$lighter-black: #46444d;
$white: #f3f2f1;

.sectionTitle {
  padding: 0rem 0.5em;
  border: 1px solid $black-color;
  color: $nav-color;
  margin: 0rem;
  font-style: italic;
  font-family: sans-serif;
  text-shadow: 0px 0px 0px $black-color;
}
