@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,800,800italic,900,900italic);
$nav-color: #dcd9c6;
$hover-color: #556f7a;
// $hover-color: #556f7a;
$active-color: #d84936;
$black-color: #1b1924;
$lighter-black: #46444d;
$white: #f3f2f1;
.titlesBox {
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin: 1rem 0rem;
  .sectionTitle {
    font-family: sans-serif;
    color: $black-color;
    font-weight: 100;
    margin: 0rem;
    padding-right: 1rem;
  }
  div {
    flex-grow: 1;
    margin-left: 5px;
    height: 0%;
    border: 3px solid $black-color;
  }
}
