$nav-color: #dcd9c6;
$hover-color: #556f7a;
$active-color: #c97064;
$black-color: #1b1924;
$black-colorLighter: #535355;
//Folio Colors
$bright-orange: #ffd166;
$banana: #f7e3af;
$bananaDim: #f7e3af2f;
$oceanGreen: #61c9a8;
.svg {
  position: absolute;
  margin: 0 auto;
  margin-left: 18.5rem;
  // border: 1px solid $black-color;
  // transform: rotate(-90deg);
}
.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  animation: dash 30s infinite forwards;
  animation-direction: alternate;
  animation-timing-function: ease;
  animation-fill-mode: both;
  margin: 0%;
  fill-opacity: 0;
  transition: all ease-in-out 0.5s;
}

.path:hover {
  fill-opacity: 1;
  cursor: pointer;
}
@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
