$nav-color: #dcd9c6;
$hover-color: #747474;
$active-color: #c97064;
$black-color: #1b1924;
$white: #f3f2f1;

.p {
  margin: 0rem;
  color: $active-color;
}

@media (max-width: 425px) {
  .p {
    font-size: 0.3rem;
  }
}
@media (max-width: 320px) {
  .p {
    font-size: 0.3rem;
  }
}
